/* Katibeh Font */
@font-face {
  font-family: "Katibeh";
  src: url("./assets/fonts/Katibeh-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font is loading */
}

/* Kotta One Font */
@font-face {
  font-family: "Kotta One";
  src: url("./assets/fonts/KottaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
